[2018-03-10 17:22] abhiaiyer91 opened #1 "Introduce a `compose` api"
Would like to apply multiple middlewares to a schema in an easier:

e.g.

[code]

[2018-04-02 18:01] maticzav opened #2 "Logo ideas"
As the title suggests this issue is used to find a great logo for `graphql-middleware`.

The best idea I got so far, which would also somehow reflect the name, is a group or three cartoon animals with the middle one wearing a GraphQL T-Shirt - something like npm’s wombat.

I would love to hear all the ideas you’ve come up with! 😄

[2018-04-03 12:55] fabien0102 commented on #2
![image](https://user-images.githubusercontent.com/1761469/38250439-1411cf04-374f-11e8-9490-1e2a18654745.png)

[2018-04-03 16:03] maticzav commented on #2
@fabien0102 this actually really cool! I like the second one better, but the first one is no different - I like them both. Would love to hear @schickling ‘s thoughs on this too!

[2018-04-06 10:57] schickling commented on #2
Thanks a lot for bringing this up! I really like the idea of @fabien0102. I think there should be a visual-only logo that works without "GraphQL Middleware" text part, therefore I'm rather a fan of the first suggestion.

Maybe @kuldar has some thoughts as well?

[2018-04-06 11:06] kuldar commented on #2
I like the direction of the first logo. 👍 I agree with @schickling though, that it would be great if the symbol could stand on its own. I can try iterating a bit on the first concept to see if I can come up with some improvements.

[2018-04-06 14:41] fabien0102 commented on #2
@kuldar Just in case that you need the sources (even if it's really simple to recreate ^^)
[graphql-middleware-logo.zip](https://github.com/graphcool/graphql-middleware/files/1884388/graphql-middleware-logo.zip)

[2018-04-13 09:49] fabien0102 commented on #2
@kuldar Very nice iteration! Really like the ratio of yours propositions (mine was a little bit too rectangle ^^).  I think that my favorite is the `Logo v1`, simple and understable (and I also like the dash style for the idea of "flexibility" and "lightness" 😃 )

[2018-04-13 11:57] kuldar commented on #2
I agree, I think v1 & v3 have more potential than others. I think v1 feels bit more like a full "stack" vs. the v3 feels bit like it's crossing off the GraphQL logo.  But I agree, that with v1, there's less super direct connection to GraphQL.

[2018-04-13 12:29] schickling commented on #2
Great work @kuldar! I'm actually a big fan of v2 since it clearly shows how you can split up your GraphQL server into layers, v1 is also great though.

Other thoughts? :)

[2018-04-13 12:33] maticzav commented on #2
I agree with @schickling, I don’t know why but v2 feels just very well put - maybe because it’s for some reason slightly similar to Prisma logo?

Truly great ideas!

[2018-04-13 23:53] harrysolovay commented on #2
![graphqlmiddlewaredesign](https://user-images.githubusercontent.com/4893548/38761823-ec2f227c-3f53-11e8-80f6-79b63b0be3a2.png)
What about something like this, which emphasizes the nature of middleware (sequential processing). The use of gradients, seamlessly transitioning between centers, with only two colors, is suggestive of the transformation of data between middleware (the center of the dots

[2018-04-19 04:38] maticzav commented on #2
Hey @kuldar, could you provide me with the files of your designs? I think we should try `v2` first and see how it feels within the README - we can nevertheless still switch later on to `v1` or `v3` if needed, but I have high hopes for `v2`. What do you think?

[2018-04-20 23:17] maticzav commented on #2
#3 Please do keep the thread going! I like the appearance of `v2` in README, but I would be more than happy to hear your thoughts as well!

[2018-04-20 23:17] #2 closed

[2018-04-20 23:19] #1 closed, assigned to nobody

[2018-05-06 18:47] namnm opened #5 "Better error for not found fields"
Hi
Now when the middleware has a field which is not declared in the schema, an error will be thrown as below:

[code]

[2018-05-19 08:34] dbohdan opened #6 "Bad marketing copy in the README"
`README.md` currently says

"To get under someone's skin" means to annoy someone ([dictionary.com reference](http://www.dictionary.com/browse/get-under-someone-s-skin)). It would take a very remarkable API to accomplish this in just one second. :-)

Consider alternative phrasing like

[2018-05-29 10:51] geminiyellow opened #8 "how to get passport's Auth info in this middleware"
hi all, i use express + passport-oauth2 in my web.
and i want to use graphql to wrap exist restapi, with permission check.

i follow the examples/permissions , but in this line

https://github.com/prismagraphql/graphql-middleware/blob/6889d229181e49b4e8711d22a960900b103c2632/examples/permissions/index.js#L40

the `context.request.isAuthenticated()` alway false,
and i debug into the code, it looks

[2018-05-29 12:50] maticzav commented on #8
Hey @geminiyellow 👋 Could you reopen this issue in https://github.com/maticzav/graphql-shield ?

I think thsi might be well solved there!

[2018-05-30 12:46] ztec opened #10 "Documentation (README) give false hope about documentMiddleware."
As explain here : https://github.com/prismagraphql/graphql-yoga/issues/314 `documentMiddleware` is not yet available. What do you think of removing it from README.md and only document `middleware` parameter of Graphql-Yoga ?

[2018-05-30 12:57] maticzav commented on #8
I am closing this issue in favour of the referenced issue in GraphQL Shield.

[2018-05-30 12:57] #8 closed

[2018-05-30 19:49] alloy opened #11 "Naming of middleware"
Before publishing our timeout middleware to npm, I figured I’d ask if you had a specific naming scheme in mind for middleware? I settled on `graphqlTimeoutMiddleware` for now: https://github.com/artsy/metaphysics/pull/1068

Thanks for this library btw!

[2018-05-30 20:27] maticzav commented on #11
@alloy this is great! I love to hear that you enjoy using the library. There's no official convention, but I settled in Sentry plugin and Forwarding tool with `graphql-middleware-nameoflib`.

I think we should create a website or at least a collection of the available plugins to make them easier to discover. Or, we could add them to README! What do you think?

[2018-05-30 20:35] alloy commented on #11
I kinda like suggesting the convention in your README through means of adding a list of them all using the same pattern 👍

[2018-05-30 21:31] mdlavin opened #12 "Add the ability to wrap only non-default resolvers"
I have found `graphql-middleware` to be very helpful when building https://github.com/lifeomic/graphql-resolvers-xray-tracing . Thank you for sharing it.

In that same project, I'd like to wrap only non-default resolvers and I thought others might want that same behavior. If you would accept it, I'd be happy to create a PR that adds a an option to the `applyMiddleware` function. Should I work on a

[2018-05-31 16:10] maticzav commented on #12
@mdlavin PR sounds great!

[2018-05-31 16:16] namnm commented on #10
Yeah, I still wonder why dont we just put the `documentMiddleware` in this package instead of introducing the `yoga` or whatever, any reason that `documentMiddleware` can not be put here?

[2018-06-24 20:56] #11 closed

[2018-07-11 15:23] #12 closed

[2018-07-12 11:45] jeremie-stratumn opened #19 "issue with remote schema"
Let me first thank you for this great lib!

I came across a use case where I would like to use a middleware to change the parent argument of a resolver:

[code]

But in my resolver the parent is always null... Any reason why we do not allow modifying the parent object for a root query?

Thanks!

[2018-07-13 10:37] maticzav commented on #19
Hey @jeremie-stratumn 👋,

Thank you for such a nice feedback. I am having a hard time replicating this. Would you mind sharing a bit more of your code? What's the version of `graphql-middleware` that you're using?

Let me know and I'll help you out!

[2018-07-14 16:16] jeremie-stratumn commented on #19
Thanks for your reply @maticzav . After digging a bit more it turns out that my issue is related to schema stitching.. I have put an example together here:
https://github.com/jeremie-stratumn/graphql-middleware/tree/jd/remote/examples/remote
The remote schema has 2 queries: `hello` and `world`. On the remote server, I apply a middleware to modify the parent arg of the `world` query. On the main se

[2018-07-15 13:01] maticzav commented on #19
@jeremie-stratumn this is perfect! Your code example made things a lot easier to understand. So, let me get right into unravelling the mysteries of your question.

1. You should know that two schemas merged remain separate even after stitching them together.
1. Each GraphQL server has its own "runtime".

I'll explain these in more detail, but first, I want to make sure we understand all the parame

[2018-07-16 15:04] maticzav commented on #19
Hey hey! Yes, of course! My bad on this one. The problem is that `graphql-middleware` doesn't change `AST` at all - that's why it's forwarding the "wrong" set of information - I doesn't forward the information at all. I am not sure whether this is as needed as it might seem at the moment, but I can certainly see how this could benefit your problem.

Do you maybe see how this could be solved differ

[2018-07-19 07:01] jeremie-stratumn commented on #19
Some background on this. I have a main yoga server that handles subscriptions (so long lived) and multiple graphql lambdas that handle different business logics. I do schema stitching on the main server. I have implemented an ACL (Access Control) layer that controls when a request comes in that the user is logged in and is authorized to do the action. Ideally I would want this layer to be executed

[2018-08-05 08:49] maticzav commented on #19
Hey @jeremie-stratumn, thank you for being so patient with my reply. Last two weeks were hectic, and your response was sitting in the leftmost corner of my Chrome all the time. Finally, I get to answer.

If I understand you correctly, you would like to use `graphql-shield` to filter the list of results. I have a strong opinion about this. My take on the problem is that business logic, in this part

[2018-08-06 08:11] jeremie-stratumn commented on #19
Hey. So it's actually the other way around. before running the query, the middleware would filter what I am allowed to read:
[code]

then:
[code]

[2018-08-08 09:08] meodemsao opened #22 "Loop logger"
I using with logger middleware and console.log loop many in console ( i don't query or call graphql )

![screen shot 2018-08-08 at 4 09 06 pm](https://user-images.githubusercontent.com/570103/43827954-6b48bfd2-9b25-11e8-9c00-bc9bea16d674.png)

![screen shot 2018-08-08 at 4 07 53 pm](https://user-images.githubusercontent.com/570103/43827913-464c7dfe-9b25-11e8-843d-f2a275e251a6.png)

[2018-08-08 11:09] maticzav commented on #22
Hey @meodemsao 👋

What’s the query that you are using?

[2018-08-09 02:29] meodemsao commented on #22
@maticzav i using prisma query, when i running server logger is looping, i don't have call graphql

[2018-08-10 08:08] meodemsao commented on #22
@maticzav have any idea for this issues ?

[2018-08-10 08:57] maticzav commented on #22
Hey, I am trying to figure out why this is happening. Are you making any calls?

[2018-08-11 22:05] maticzav commented on #22
Hey @meodemsao,

I am unable to reproduce the bug. Could you verify that it's still happening? If so, could you try making a reproduction repository or copy your code to [glitch 🐟 ](https://glitch.com) so I can help you out?

[2018-08-13 02:41] meodemsao commented on #22
@maticzav

my app in glitch

https://responsible-mushroom.glitch.me
console.log appear when i start call http://localhost:4000 -> i think maybe graphql-playground call to graphql-yoga many time

[2018-08-13 10:05] maticzav commented on #22
@meodemsao where can I see the logs from playground?

[2018-08-14 03:37] meodemsao commented on #22
@maticzav you can see log in terminal when you start using playground on http://localhost:4000

[2018-08-14 03:39] meodemsao commented on #22
@maticzav i need sure about this issues because if i using another logger like https://github.com/winstonjs/winston maybe log too much more

[2018-08-14 05:41] maticzav commented on #22
@meodemsao the link you sent above only points to the playground; not the actual code itself. Can you provide a reprodiction code that is not an image? Otherwise, it is extremely difficult for me to help you.

[2018-08-14 08:43] meodemsao commented on #22
@maticzav i only run prisma + graphql-middleware and have this issues
i think you only setup graphql-middleware and prisma you can see this issues in terminal

[2018-08-15 08:39] moritzmorgenroth commented on #22
Hi @maticzav, we are running into similar behavior using the middlewhere in one of our microservices. To reproduce, please check out https://github.com/twigbit/vos_objectservice, commit f506db6c391e4f201a81fe5340582f6e450990ba and run `yarn dev`. You should receive console output like so ```first middlewhere called
first middlewhere called
first middlewhere called
first middlewhere called
first mi

[2018-08-15 09:38] checkmatez opened #23 "Provide function name for 'resolve' parameter"
Hello, thanks for the package!
I am trying to setup logging with middleware. It would be nice to be able to log name of actual resolver function like so:
[code]
and I expect it to log: "getUser args: {} ".
I think it would be required for resolvers to be an actual function and not anonymous, but I am ok with it as long as I can map log entry to the resolver file.

[2018-08-17 04:32] brandondoran opened #24 "Performance"
I'm seeing a noticeable performance hit when using graphql-middleware. I was hoping to use middleware to log resolver errors. Before going all in, I added a very simple middleware and deployed to production to test under load:

[code]

Instrumentation showed time spent in Node doubled and overall response time was 10-15% slower.

The server is apollo-server-express.  I've previously added [schema

[2018-08-17 04:55] brandondoran commented on #24
I'm realizing now that the middleware is called on every field not just async ones and this is probably the main contributor this issue.

[2018-08-17 22:41] brandondoran commented on #24
I've implemented logic in my middleware to not blindly use async/await for all resolvers and performance is 💯.  So I will close this.

I didn't not see it originally but this issue is basically what https://github.com/prisma/graphql-middleware/pull/14 is talking about.  I think would indeed but good to have a disclaimer in the readme.

[2018-08-17 22:41] #24 closed

[2018-08-18 04:13] meodemsao commented on #22
@maticzav with prisma how we can limit this ?

[2018-08-18 04:36] meodemsao commented on #22
@maticzav  how we distinguish between schema and request ?

[2018-08-18 04:52] maticzav commented on #22
@meodemsao I am not sure I understand your question. Could you elaborate?

[2018-08-20 13:31] JCMais opened #25 "Allow applyMiddlewareToField to spread extra properties or add specific key for extra metadata"
Currently `applyMiddlewareToField` only spreads the properties it wants to:

https://github.com/prisma/graphql-middleware/blob/500925ade884a025cb6eb2ba99672c4f4a52b13c/src/applicator.ts#L41-L84

It would be really useful if extra properties were also added to the final field definition, that way we could declare some custom properties that could be used directly in the middlewares.

For instance,

[2018-08-21 08:42] moritzmorgenroth commented on #22
@maticzav Thanks a lot for clearing this up! A reference in the docs would be great since for many use cases this is probably the desired behavior. From my point of view, it might even be nice to make this behavior default and give an option to explicitly act before introspection queries as well.

[2018-08-23 12:02] yhjor commented on #22
@maticzav I have the same error and there is no way to detect which lifecycle it is logging to. It always runs more than the actual call of the resolvers.

[2018-08-27 11:02] maticzav commented on #22
@moritzmorgenroth I like your idea. Nevertheless, I believe this is the default behaviour. GraphQL by default includes `__schema` queries in `Query`. I think your approach works well in simple use cases but lacks scalability and consistency across GraphQL Middleware.

@yhjor I cannot reproduce the bug.

---

We have clarified the cause of the initial problem and identified it as expected behaviour

[2018-08-27 11:02] #22 closed

[2018-08-27 11:10] maticzav commented on #23
Hey @checkmatez 👋!

What an interesting idea! I usually tackle such problems using `info` argument that we gain from each resolver. Have you seen its implementation yet?

[code]

The exciting part to you will probably be `fieldName` field. You can use it to identify a field name in a type. Furthermore, you could also do something a bit more complex and include type name in the log. This way you co

[2018-08-27 11:12] maticzav commented on #25
What an exciting idea @JCMais! Could you make a PR with the implementation of it? I could help you if you wish. 🙂

One question I have though; how would you access extra fields from within the resolver?

[2018-08-27 14:01] JCMais commented on #25
@maticzav Thanks! I will work on that this week, seems simple, since It's just necessary to spread `field` above, but any doubts I will ask here.

About your last question, we can access those extra fields, and any other field, like this (following the example schema above):
[code]

[2018-08-27 14:56] checkmatez commented on #23
Thanks for the suggestion, I'll try that approach.
In general, yes a I know about `info` but I try to avoid it, since it is not obvious how to work with it. And yes, I've read [fantastic article](https://www.prisma.io/blog/graphql-server-basics-demystifying-the-info-argument-in-graphql-resolvers-6f26249f613a/) about info arg like three times but it is still feels like more of implementation detail

[2018-08-27 17:12] maticzav commented on #25
I see. Is this the desired usage? Maybe we should make it more easily accessible if that’s the case.

[2018-08-27 17:18] JCMais commented on #25
hm, I don't think you guys should have full support for that use case, since it kinda of is more dependent on thirdy libraries (It depends on graphql-tools and graphql-js itself passing extra fields forward, which they do currently, leaving them acessible via the info argument).

The idea is just to allow for that, but not have it like a supported usage or anything like that.

I'm planning on maki

[2018-08-27 22:20] JCMais commented on #25
@marktani I've just opened a PR for this: https://github.com/prisma/graphql-middleware/pull/26

[2018-08-28 09:31] maticzav commented on #23
Nice! I am not sure about the second part though. What do you mean with API vs implementation detail? `info` serves as a link to your schema declaration. I would even dare say that it's the only necessary one. Don't hold me for a word here as I haven't tried it yet but I think you could derive `parent`, `args`, not `ctx` I believe, from it.

I would also encourage you to check out type definitions

[2018-09-01 21:05] #25 closed

[2018-09-03 19:42] JCMais opened #27 "Type for IMiddlewareFunction is incorrect"
The `resolve` argument can be an object with `resolve` field.

[2018-09-03 19:45] #27 closed

[2018-09-03 20:53] JCMais opened #28 "TypeScript error - Interface IResolverOptions incorrectly extends interface GraphQLField"
[code]

[2018-09-04 07:37] #28 closed

[2018-09-06 16:27] JCMais commented on #25
@maticzav btw, I just published the post I mentioned above: https://medium.com/@jonathancardoso/graphql-mutation-arguments-validation-with-yup-using-graphql-middleware-645822fb748

[2018-09-15 03:44] thefliik commented on #27
@JCMais I think I just made the same mistake as you. Your comment helped prevent me from opening another issue 😅

[2018-09-15 12:16] thefliik opened #31 "issue: middleware with schema stitching"
So I think this might just be an limitation of working with schema stitching, but in case things aren't working as intended:

I have a remote database which accepts graphql queries. There is a Person type like so

[code]

I've stitched the database's schema to the another "main" schema running in ApolloServer. The main schema shows the public:
[code]
I have a middleware function (associated with t

[2018-09-15 12:26] thefliik commented on #31
Ya, looking at the schema-stitching docs, I think this is just a limitation of schema-stitching

[2018-09-15 12:26] #31 closed

[2018-09-27 09:43] renovate[bot] opened #32 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-09-27 20:41] 7assenTlili opened #33 "Specific Field Middleware Problem."
Hello,
let's say we have the following book type:
`type Book {
    title: String
    author: String
    pagecount: Int
    cover: Cover
  }`
A problem I've noticed in this implementation is that if a middleware is specific to a field (the Book query in our case), then this middleware will be executed 5 times. First time in the Book query resolver, then 4 more times for every field resolver in the

[2018-09-28 19:13] #33 closed

[2018-09-30 13:09] maticzav commented on #33
Hey @7assenTlili 👋,

I suppose you've found the solution to your issue. Let me know if you need any help with it! 🙂

[2018-10-03 07:30] maticzav commented on #23
I'll close this issue as it seems to be resolved.

[2018-10-03 07:30] #23 closed

[2018-10-07 10:53] #19 closed

[2018-10-07 10:53] #10 closed

[2018-10-13 15:06] NarHakobyan opened #54 "Bug: repeatedly calling middleware for each key of returning value"
Hi everyone, first I want to thank you for this great library, I have used it with Apollo server, all worked great intend of repeatedly calling, it's calling middleware for each field returned from a handler, and `args` argument is empty

[code]

[2018-10-19 16:32] maticzav commented on #54
Hey @NarHakobyan 👋,

I think you posted a fascinating question. Let me see if I understand you correctly; the problem you're having is that `graphql-middleware` is triggered for every field in your return type, correct?

If that's the case, it's not because it would be a bug. This is how `graphql-middleware` works! GraphQL middleware applies a provided function to every field following the waterfa

[2018-10-22 16:12] UsulPro opened #62 "How to send error from middleware"
Hi! Thanks for this project! :smile_cat:

Sorry if it looks like a silly question, but I can't figure out how can I send an error to frontend from the middleware. I tried to implement something like this:

[code]
(or just throw an error)

but it doesn't work as I expected

[2018-10-22 16:32] UsulPro commented on #62
my fault, it should be

[code]

[2018-10-22 16:32] #62 closed

[2018-10-26 15:08] davidgustys opened #63 "Bug: "applyMiddleware" updates the schema rather than replacing"
The cause is where `addResolveFunctionsToSchema` from `graphql-tools` is used which is actually updating the schema rather than replacing it, causing continues re-wrap of middleware on resolver when it is called and this in turn makes queries against the schema slower and slower.

showcase: https://github.com/gdeividas/graphql-middleware
for demonstration run:

[code]

[2018-10-29 07:17] NarHakobyan commented on #54
Ht @maticzav, this is code chunk of my `resolvers`, middleware. When middleware is calling for `me` handler in `mutationDefinition.auth` property exists, but when I am trying to get stories of user from `me`, it's also calling middleware for nested `stories ` but `mutationDefinition.auth` is not defined

[2018-11-14 13:27] jgoux opened #75 "Incompatibility with apollo-server ^2.2.0"
Hello,

It seems that there is an incompatibility issue between graphql-middleware and apollo-server@^2.2.0

Here you can find an explanation about what is breaking : https://github.com/apollographql/apollo-server/issues/1935#issuecomment-438210375

So apparently something in graphql-middleware is turning the introspection query execution (from `graphql/execution` into a Promise instead of returni

[2018-11-14 16:54] gdeividas commented on #63
After debugging and trying to find the root cause, the rabbit hole led to grahphql-tools and then I actually found an issue which was also recently opened -  https://github.com/apollographql/graphql-tools/issues/996 .

So the problem per-se  is not with `graphql-middleware`, but grapqh-middleware should be functional and return *clean* schema.

[2018-11-14 17:01] gdeividas opened #77 "feature request: applyMiddleware should return *clean* schema ( no reference manipulation)"
`graphql-middleware` is currently modifying the passed schema and returning it, rather than functionally returning new *clean* copy of schema.

[2018-11-15 18:08] dwelch2344 opened #78 "Question: wrap all top-level queries / mutations only"
Hey all, trying to figure out if I'm approaching this wrong or just not understanding. So, what I'd like to do is put a simple tracing middleware around any "top level" query. I.e. the request comes in and they ask for `PersonA` and `PersonB` query.

I've got one that runs, and I can filter out decently well by only measuring if `parent` is null, which seems to work. But the downside is that it's

[2018-11-16 06:59] maticzav commented on #78
Hey @dwelch2344 👋,

Have you tried scoping the range of `middleware`? You can do this by specifying `types` or `fields` it should apply to. Try the following;

[code]

[2018-11-16 13:51] dwelch2344 commented on #78
Ah, that's brilliant. No, I saw that somewhere in the docs / examples but couldn't really grok it. I'll give that a whirl and compare :) thanks

[2018-11-17 06:35] nicklaros commented on #75
yap, had this issue as well after update my `apollo-server` dependencies

[2018-11-17 20:57] maticzav commented on #77
Closing in favour of #63.

[2018-11-17 20:57] #77 closed

[2018-11-21 12:37] abernix commented on #75
I'm curious if anyone experiencing this problem (and has a reproduction) would be willing to try modifying `graphql-middleware`'s [`applicator.ts`](https://github.com/prisma/graphql-middleware/blob/784199ef54cc1f4002d4a0ab3769f9ee77a2fffc/src/applicator.ts) to have it obey [`graphql/introspection`'s `isIntrospectionType`](https://github.com/graphql/graphql-js/blob/74d1e941af54a8c8d0faef063ee7460ae

[2018-11-21 15:14] gigouni commented on #54
Hi @NarHakobyan , did you fixed your issue? I've got the same one but I don't know what's my mistake.

[2018-11-23 15:20] israelglar commented on #75
Hello! @abernix  I'm having the same issue but can't figure out what to do to applicator.ts to fix it but I will continue to try :+1:
@maticzav since this issue is assigned to you, do have an idea when this will be resolved? Thanks!

[2018-11-24 14:08] NarHakobyan commented on #54
HI @gigouni , no it's still exists

[2018-12-03 08:53] resao commented on #75
The same issue is unfortunately present when used with apollo-server-azure-functions. Although in my case I can't find an appropriate version of apollo-server-azure-functions to roll back to :(

[2018-12-05 13:56] ghirlekar commented on #78
Is it possible to apply a middleware to all fields except one?
I want to apply my authorization middleware to all fields except one root level query that generates JWTs; else no one could ever login.

[2018-12-06 14:19] ellipticaldoor commented on #75
I have also this problem whit graphql-shield

[2018-12-08 13:36] maticzav commented on #78
Hey @ghirlekar 👋,

That’s an interesting question! Unfortunately, there’s no middleware function which would explicitly omit application of middleware to a specific field. However, you could use `info` parameter and determine whether the middleware should or shouldn't run.

`info` parameter stores a `fieldName` and also `parentType` parameter which you could combine to determine execution.

Let me

[2018-12-10 16:55] ghirlekar commented on #78
@maticzav, I elected to use graphql-shield instead of rolling my own middleware. The fallbackRule option works perfectly for this kinda task.

I apologize that this comment is extremely off-topic in this issue, but in case anyone is interested, this is the way I've setup my authorization rules.

[code]

@maticzav, thanks for your wonderful graphql-shield module. It's very well structured and has s

[2018-12-11 08:59] resao commented on #75
@ellipticaldoor

There is a temporary (but not very nice) solution which appears to allow "apollo-server-azure-functions": "2.2.6", "graphql-middleware": "^2.0.2" and "graphql-shield": "^4.1.0" work alongside each other.

Following this issue comment https://github.com/apollographql/apollo-server/issues/1935#issuecomment-436962565 I was able to patch the apollo-server-core dependency in my solutio

[2018-12-11 14:33] maticzav commented on #78
@ghirlekar thank you so much for such fantastic feedback! :green_heart: I am genuinely happy that it's working out for you.

Besides that, thanks for sharing the code. I am sure it will be of good use to others with a similar issue 🙂

[2018-12-11 16:38] gastonovic opened #87 "apply multiple middelwares to executable schema"
Hi, I'm trying to add multiple middlewares to a resolver function (for authorization purposes)
the problem is that when I try to do that like this :
`const middlewares = [bodyParser, passport.authenticate('jwt', { session : false })];`
`const schemaWithMiddleware = applyMiddleware(schema, middlewares);`
I get this error :
`/graphql-middleware/dist/validation.js:24`
           ` throw new Middlewar

[2018-12-13 20:43] ellipticaldoor commented on #75
I think I will wait for a better fix :/

[2018-12-14 17:54] maticzav commented on #87
You should wrap `passport` in middleware function.`middlewares` are not meant to support express-middleware.

[2018-12-18 10:59] #75 closed

[2018-12-18 11:00] #78 closed

[2018-12-18 11:04] schickling commented on #75
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-middleware)
- [GitHub release](https://github.com/prisma/graphql-middleware/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-19 04:01] chanlito commented on #75
@ellipticaldoor I'm using graphql-shield v5 seems to be working now.

[2018-12-19 09:00] kallaspriit commented on #75
I can also confirm that with the latest version it works nicely again :)

[2018-12-26 19:53] henry74 commented on #54
You need to define your middleware to only apply to queries/mutations so it doesn't apply to every field in a result:
[code]

[2018-12-30 15:30] ph55 opened #96 "Path and locations info improvement when type error returned"
Using this library for permission management.
But there is some misleading info in path when validation of `type` failed.

Example.

Schema:
[code]

Apply middleware on `User` type:
[code]

then following query (that return `User` type)
[code]

throwing error:
[code]

Look at `locations` and `path` - it includes first queried attribute of `User` (`username`). Which is misleading.
Ideally it should

[2019-01-27 11:51] maticzav opened #111 "Fragment replacements should filter self referencing fragments"

[2019-01-28 12:17] madrahul1992 commented on #33
@maticzav Hi, Would you help me with the solution as I am also facing the same issue. Middleware gets invoked for each field in output type?

[2019-01-28 19:13] maticzav commented on #33
Hey @madrahul1992 👋,

The remainings of this issue might be confusing, let me explain. `graphql-middleware` wraps resolvers in middleware following a "waterfall" paradigm. What this means is that if you apply middleware to an entire schema, middleware will cover every field of every type in it. Same goes for type-down and field-specific middleware. Due to GraphQL's nature of execution fields are c

[2019-02-04 10:12] #111 closed

[2019-02-04 10:14] schickling commented on #111
:tada: This issue has been resolved in version 3.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-middleware)
- [GitHub release](https://github.com/prisma/graphql-middleware/releases/tag/v3.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-07 21:18] #87 closed

[2019-02-19 21:07] #54 closed

[2019-02-23 12:05] zenVentzi opened #131 "Exclude resolvers"
For example there are 30 resolvers and we know that 27 of them need auth middleware and only 3 of them don't. The way that I know about from the docs is to specify all the 27 resolvers that require the middleware. Is there a way to do the opposite, i.e. write only the 3 resolvers to be excluded for the auth middleware?

[2019-02-23 16:53] #96 closed

[2019-02-25 17:37] gdeividas commented on #63
This probably should not be closed by the bot as its still relevant.

[2019-03-01 07:31] Abhijeetjaiswalit commented on #78
@maticzav i didn't get scoping the range of `middleware`
`const middleware = {
  Query: middleware,
  Mutation: middleware,
}`

i'm doing something like this =>
`
const executableSchema = makeExecutableSchema({
  typeDefs: schema,
  resolvers: {
    ...resolvers,
    JSON: GraphQLJSON
  },
  schemaDirectives: {
    auth: AuthDirective
  }
});
const schemaWithMiddleware = applyMiddleware(
  executa

[2019-03-01 14:39] maticzav commented on #78
@Abhijeetjaiswalit

[code]

[2019-03-06 13:58] MrLalev commented on #131
@zenVentzi I agree with you. Currently, I am in the same situation and from the docs, it seems like there is no way to exclude queries or mutations from the middleware. If you have access to the queries and mutations types you can workaround writing same middleware for every query and mutation with dynamic generated one like this:

`
const generateMiddlewareForMutations = () => {
    const mutatio

[2019-03-15 02:01] wendelfreitas commented on #131
Hi @zenVentzi here's my solution to this problem.

You can see better in this repository: https://github.com/wendelfreitas/kraken

**AuthMiddleware.js**
[code]
**common.js**
[code]

[2019-03-29 10:07] mhaagens commented on #63
Also having issues with this, breaks HMR in a TypeGraphQL / TypeORM project because it doesn't create a new schema.

[2019-05-09 02:56] #131 closed

[2019-05-14 17:59] maticzav commented on #63
Shouldn’t be closed.

[2019-05-24 08:42] mieszko4 opened #159 "Typescript source file missing in npm package"
I have a problem with Sentry. It complains about missing sources when stack with `graphql-middleware` is reached.

1. In `node_modules/graphql-middleware/dist/index.js` there is a reference to `//# sourceMappingURL=index.js.map` which is ok since `node_modules/graphql-middleware/dist/index.js.map` does exist in the npm package.
2. However in `node_modules/graphql-middleware/dist/index.js.map` ther

[2019-05-29 11:34] omar-rubix opened #162 "Easier way to apply multiple middlewares to specific resolvers"
I'm not sure if I'm missing something but as far as I can tell, the only way to apply multiple middlewares to a specific resolver is to do the following as per this [article](https://www.prisma.io/blog/graphql-middleware-zie3iphithxy)

[code]

Wouldn't it be better to do it this way instead? I feel like the above method would get out of hand pretty fast.

[code]

I tried to check if this was possi

[2019-06-02 16:04] maticzav commented on #162
@omar-rubix thank you for the input. In what way does documentation seem incomplete or unclear?

[2019-06-09 10:29] omar-rubix commented on #162
@maticzav Thanks for your reply! In the documentation, the syntax of applying middleware to specific resolvers is unclear unless you've read this [article](https://www.prisma.io/blog/graphql-middleware-zie3iphithxy).

Having said that, how to apply multiple middlewares to the same resolver is also unclear. You can either use separate objects or a function like in graphql-shield.

The section on mi

[2019-06-16 08:41] schickling opened #177 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-18 14:38] OliverCole opened #178 "No license specified"
Hi!

I’d love to use this library, but there’s no license specified. Would you mind committing one?

Thanks!

[2019-06-18 15:01] OliverCole commented on #178
To clarify, I see “MIT” in `package.json`, but I think Github (and the lawyers) look for an actual license text checked in.

[2019-06-19 08:57] maticzav commented on #178
Fixed with #179

[2019-06-19 08:57] #178 closed

[2019-06-19 08:58] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-19 10:26] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-20 21:37] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-21 02:41] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-21 16:54] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-24 21:35] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-25 16:24] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-25 17:49] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-25 19:58] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-26 12:33] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-26 17:02] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-26 19:55] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-28 20:39] thehappycoder commented on #63
ping

[2019-06-28 23:53] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-03 16:39] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-08 23:48] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-10 00:57] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-11 19:59] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-15 07:42] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-16 14:49] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-18 09:08] #159 closed

[2019-07-21 01:35] gihrig opened #198 "3.0.2 throws TypeError: definitions.trim is not a function"
In prisma/photon TS example [graphql-auth](https://github.com/prisma/photonjs/blob/60fb8df1bba0f67bca6f94a9662227d3fc7d0732/examples/typescript/graphql-auth/src/index.ts#L41) a comment references non-working graphql-shield in issue [#361](https://github.com/maticzav/graphql-shield/issues/361)

The problem appears when graphql-middleware 3.0.2 is installed as a dependency of graphql-yoga.

Resolvin

[2019-07-22 21:34] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-25 11:37] schickling commented on #177
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-27 04:13] #177 closed

[2019-08-03 10:57] #162 closed

[2019-08-12 18:06] gihrig commented on #198
@maticzav please merge [6e1b5c7](https://github.com/prisma/graphql-middleware/commit/6e1b5c7c22309c60048c887ad2ed6634805923a9) into master so the fix can propagate to graphql-yoga.

Then this issue can be closed as well as graphql-shield [#361](https://github.com/maticzav/graphql-shield/issues/361)

[2019-08-13 10:50] roschaefer commented on #63
This is very relevant: Yesterday I spent the entire day debugging a backend test with `apollo-server-testing`:

I tested a notification middleware and wanted to make sure that only one notification per @-mentioning gets sent. I was extremely confused to see the number of notifications increase **per test  case**, ie. `2*n` for `n` test cases. The reason: For every call of `createServer` which in m

[2019-08-14 13:13] #198 closed

[2019-08-14 17:36] gihrig commented on #198
@maticzav I have confirmed that 4.0.0 resolves the issue.

Thank you! :-)

[2019-08-27 20:15] hassenc opened #224 "Wrong resolve argument in nested types"
Hello !

I have the following resolvers, (schema created with `makeExecutableSchema`)
[code]
And I am trying to do something like this:
[code]
But I am getting an issue, the `resolve` inside `author` is not calling `getAuthorForBook`.
I would have expected to find a `resolver` argument on `author` but nested types seem to behave differently from root types (under Mutation or Query)
Is this a norma

[2019-09-03 05:51] drager opened #231 "Be able to blacklist queries/mutations"
Hey, thanks for a great library!

I was wondering if it's possible to blacklist instead of whitelisting queries/mutations? I.e. this is how we do it today:

[code]

Where `isAuthenticated` is applied for the `getUsers` query. However, now I need to add every single query in here or do the following:

[code]

which applies it to all queries. However, I want some queries to be able to get without be

[2019-09-03 08:04] maticzav commented on #231
I am afraid there's no obvious solution for that in `graphql-middleware`, at least nothing from the top of my head, but you could check out `graphql-shield`.

[2019-09-04 05:33] drager commented on #231
Alright, thanks for the answer! That's too bad. It's easy to forgot to add the middleware function to one query so it would have been nice if it existed.

[2019-09-19 08:59] terion-name commented on #198
getting this on 4.0.1

[2019-10-07 18:12] cappslock opened #240 "Add option to support introspection queries"
I see that graphql-middleware intentionally doesn't run on introspection queries. This makes sense, but I have a use case where it's causing problems.

I am trying to manage database transactions at the middleware and context level. I create the transaction in the context factory (because I have dataloaders created in context that I want to provide the transaction to). The middleware then handles

[2019-10-08 08:35] rostislavv opened #241 "Bug: applyMiddlewareToDeclaredResolvers works only for first middleware"
On top of this issue https://github.com/maticzav/graphql-shield/issues/416 we faced noticeable performance degradation when `graphql-shield` applied. After few stages of investigation it turned out that there is a small bug in `graphql-middleware` itself, where for `applyMiddlewareToDeclaredResolvers` it will apply to declared resolver only for first middleware in sequence [here](https://github.co

[2019-10-08 08:44] rostislavv commented on #241
i've also prepared pr for this https://github.com/prisma-labs/graphql-middleware/pull/242

[2019-10-08 16:29] #241 closed

[2019-10-11 07:09] maticzav commented on #241
@rostislavv thanks. Your PR is invaluable to `graphql-shield` and `graphql-middleware`! 🙂

[2019-10-11 09:05] rostislavv commented on #241
np, thank you for your work 👍

[2019-10-18 22:38] theluk commented on #224
I am having a similar issue

[2019-11-05 11:42] schickling commented on #241
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-middleware)
- [GitHub release](https://github.com/prisma-labs/graphql-middleware/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-22 05:00] brunolm opened #243 "Cannot return null for non-nullable field Message.id."
I'm calling `setMessage` trying to return `id` from the created message. But if there's an error I get the following message:

The only way to avoid this is to change from `ID!` to `ID`. Is there anything I can do to get the actual error instead of this?

Request:

[code]

resolver
[code]

[2019-12-27 00:13] heymartinadams opened #245 "How does one combine graphql-middleware with nexus-prisma?"
The [instructions](https://github.com/prisma-labs/graphql-middleware#how-does-it-work) for `graphql-middleware` are pretty straightforward — but they only seem to apply to [schema-first development](https://www.prisma.io/blog/the-problems-of-schema-first-graphql-development-x1mn4cb0tyl3/) if I’m not mistaken.

I’ve now implemented [nexus-prisma](https://github.com/prisma-labs/nexus-prisma), but si

[2019-12-27 01:16] heymartinadams commented on #245
Sorry, discovered an error in my `nexus` configuration!

### mutations.js

Rather than this:

[code]

It needed to be that:

[code]

[2019-12-27 21:02] #245 closed

[2020-01-13 03:21] ChopperLee2011 commented on #19
sorry, I think I have some issue, the args to a remote query cannot be editable in the main server.

@maticzav from your words, I think using middleware to update remote query's input is impossible, right ?

[2020-02-10 06:56] andres-valdes opened #248 "Checking __typename in middleware"
Is there any way that I can extract the __typename of a resolver response in my middleware?

[2020-02-10 21:20] scruffles opened #249 "Problems getting scoped middleware working"
I know I have to be misunderstanding something, but I can get middlewares to work if I apply them directly, but not if I scope them to a certain part of the tree.  Everything in the docs and issues makes me thing at least two of these logs should print on every query, but only #3 prints:

[code]

Any idea what I'm missing?

[2020-02-10 21:41] scruffles commented on #249
nevermind.. we were using `addResolveFunctionsToSchema` further down the code, so all the resolvers weren't present yet

[2020-02-10 21:41] #249 closed

[2020-02-12 22:38] kamarajuPrathi opened #250 "Type permissions exists in middleware but is missing in Schema."
When using grapql middleware with graphql shield permissions

[2020-02-13 19:25] thierryskoda commented on #245
@heymartinadams I'm on the same problem. I'm using Nexus and tried to add a middleware exactly like you did. For me everything works great except that I can't get the error to the browser. Without the middleware, in my browser i'm receiving:

[code]

But with the middleware when there's an error in my browser I only receive

[code]

Did you have the same problem?

Thank you!!

[2020-02-23 23:29] ax-vasquez commented on #250
We hit this issue earlier as well, however we found out the problem.

Right now, we are early in development for a pretty large microservices application backend. We basically have a bunch of ApolloServers stitched together as our backend - since we are still pretty early in development, we haven't applied our shield permissions.

It turns out, if you call `applyMiddleware(schema, permissions)` wh

[2020-02-24 15:16] maticzav commented on #250
@ax-vasquez I think this should be a consequence of version mismatch. Could you try updating to the latest version?

[2020-02-28 12:41] serraventura opened #252 "Apply middleware by data sources"
Is there a way to apply the middleware just for some data sources?

I have multiple data sources and not all of them need to use my middlewares for its resolvers.

Does it make sense at all ?

Thanks

[2020-02-28 13:15] maticzav commented on #252
@serraventura could you be a bit more specific about what you mean with data sources?

[2020-03-06 20:11] serraventura commented on #252
I will be back with code examples. Please, don't close it.
Thanks

[2020-03-10 09:30] serraventura commented on #252
Sorry, It's unrelated to your package.

[2020-03-10 09:30] #252 closed

[2020-03-28 18:59] heymartinadams commented on #245
Just seeing this, @thierryskoda. Decided to not create a GraphQL server, but instead use REST endpoints using Prisma’s new framework.

[2020-04-15 09:39] fiznool opened #254 "Support graphql 15?"
[graphql-js 15 is out](https://github.com/graphql/graphql-js/releases/tag/v15.0.0). When installing this module, a peer dependency warning is issued when using graphql 15.

[2020-05-12 00:23] Faisal-Manzer opened #256 "Support for multiple middlewares"
When tried to use multiple middle-wares with a query it failed with the errors below.
[code]

----
[code]

Is there any support for multiple middle-wares?
There can be an utility function or in-build support for multiple middleware.

[2020-05-12 00:24] Faisal-Manzer commented on #256
This can be easily solved by an utility function
[code]

So, now it works
[code]

Can we have some builtin support rather than using workarounds?

[2020-05-12 11:12] maticzav commented on #256
There's a built in support. You may add multiple middlewares and graphql middleware should handle them. That's why there's a list parameter for `middlewares` not a singleton.

[2020-05-12 11:12] #256 closed

[2020-05-12 11:24] Faisal-Manzer commented on #256
Can you give some code example?

[2020-05-12 18:52] maticzav commented on #256
https://github.com/prisma-labs/graphql-middleware/blob/master/README.md#how-does-it-work

[2020-05-30 01:56] jrnail23 opened #257 "Question: adding middleware around a type resolver?"
I've been able to successfully apply middleware for fields, but when I try to apply one to a type resolver, it only applies the middleware to that type's field resolvers, not the type resolver itself.
Is there a way to only have it apply to the type resolver?
For example, given the below resolvers, I'd like to wrap the `Contact` type resolver, but I can only seem to get it to apply to that type's

[2020-06-29 16:54] yaacovCR opened #259 "Add support for new graphql tools selectionSet hints"
Rather than fragment replacements...

[2020-08-02 05:36] wuichen opened #266 "not working on mutations, but working on query."
hi all, i am using nextjs, api routes, and nexus. trying to implement the middleware like below. its working on query, but not mutation. what could be the possible reason?

[code]

[code]

[2020-08-02 06:34] wuichen commented on #266
realized its problem on my end. closing

[2020-08-02 06:34] #266 closed

[2020-08-05 00:03] lastmjs opened #267 "Why does `applyMiddleware` mutate the schema passed into it?"
Hi there,

Thanks for all of the hard work on this library.

I just battled a bug for a while, it was very confusing trying to figure out what was happening. The answer it seems is that `applyMiddleware` is actually mutating the schema passed into it. I was under the assumption that the API was immutable, considering the modified schema is returned from `applyMiddleware`. This assumption led me to

[2020-08-07 21:02] BigsonLvrocha commented on #63
I've just noticed this issue could be fixed by updating graphql-tools to the newest version, but it drops support for node 10.17.0 or lower.

[2020-11-15 08:34] csvan commented on #254
The install now breaks completely under npm7, unless the `--legacy-peer-deps` flag is passed:

[code]

[2020-11-18 02:05] dborstelmann commented on #254
This is breaking for me on npm7 as well, it would be great if we could support graphql 15.

[2020-11-25 22:53] syffs opened #277 "[feature] wildcard per type"
Unless I've missed something, I don't think it's supported:
It would be great to handle wildcard middlewares as in [graphql-shield](https://github.com/maticzav/graphql-shield#per-type-wildcard-rule).

[2020-12-04 13:21] BigsonLvrocha commented on #267
duplicate from https://github.com/prisma-labs/graphql-middleware/issues/63

[2020-12-06 07:55] maticzav commented on #63
@BigsonLvrocha could you make a PR from your fork and I’ll merge it right away.

[2020-12-10 14:10] BigsonLvrocha commented on #63
@maticzav there was a pr, but now I've noticed it's gone with the author change, will redo

[2020-12-15 18:04] #63 closed

[2020-12-15 18:04] #254 closed

[2020-12-16 11:38] maticzav commented on #63
@BigsonLvrocha I had trouble finding it as well, but after cleaning all the PRs it was the only one left. Seems like I was able to merge it! Thank you 🎉

[2020-12-18 16:42] maticzav commented on #267
This has been resolved now.

[2020-12-18 16:42] #267 closed

[2020-12-23 12:24] cernicc opened #314 "Cannot find module '@graphql-tools/delegate' or its corresponding type declarations."
Hi. I am getting following error when trying to build my project. I am using the latest middleware version 6.0.0.

[code]

[2020-12-23 16:20] maticzav commented on #314
Hey 👋,

Could you share a small reproduction repository so we can better help you with your issue?

[2020-12-24 11:04] cernicc commented on #314
I think i figure it out. Graphql-shield is still using an older version. If I use 4.0.0 of the middleware then it works.

Here is the reproduction repo if you want to try it out.
https://github.com/cernicc/temp

[2020-12-24 11:09] cernicc commented on #314
Thank you. I am closing this issue.

[2020-12-24 11:09] #314 closed

[2021-01-07 22:46] arnaud-zg commented on #314
I also have this issue on my side, I think we have this problem because the module `@graphql-tools/delegate` is not a dependency of `graphql-middleware`. That's why we don't have any reference to it.

[2021-01-08 13:19] arnaud-zg commented on #314
@cernicc https://github.com/maticzav/graphql-middleware/releases/tag/v6.0.1

[2021-01-21 14:47] #32 closed

[2021-01-30 22:50] Sytten opened #334 "Support for operations middleware"
I was wondering if you think it would be possible to build middleware around operations, or that needs to be handled at the GraphQL server level. I am trying to build a plugin that would log the start and end of the operation specifically.

[2021-01-31 07:51] maticzav commented on #334
Have you tried using Apollo server’s plugins? That’s what I usually use.

[2021-01-31 14:41] Sytten commented on #334
I am moving away from it, But my goal is to build a distributable all in one plugin for fields and operations.

[2021-02-01 11:35] maticzav commented on #334
We had a plan of implementing that, but never finsihed it. What’s you alternative to Apollo Server?

[2021-02-01 15:21] Sytten commented on #334
Well I would like to support all servers if possible with the plugin, so say at least the following:
- https://github.com/contrawork/graphql-helix
- https://github.com/graphql/express-graphql
- https://github.com/mercurius-js/mercurius

[2021-02-03 01:16] Sytten commented on #334
Ok so I dug a bit and I am not sure it is possible really, most server don't seem to allow the execute function to be changed. So you most go with their hook and that is dependant on the implementation. So unsure if it is really the job of graphql middleware to do that.

[2021-02-05 06:45] wmwart opened #336 "When used as specified in the middleware documentation, the function is executed for every type, for every field of that type, and for all subfields in the request."
I installed the package as directed in readme. And Launched the first example [https://github.com/maticzav/graphql-middleware#how-does-it-work](https://github.com/maticzav/graphql-middleware#how-does-it-work).

I expected to see something similar during execution, which is indicated in the diagram. 2 messages before the resolver, 2 after.
However, my entire console was filled with messages for the

[2021-02-05 14:22] galvakojis opened #337 "Question and help: How to use with postgraphile?"
I am not sure if my question is correct or if it is even possible. I am new to GraphQL and similar tools, so I am sorry for my silly questions.

Maybe someone can explain how to use it with postgraphile or what is best approach?

I tried to import [middleware using this link](https://www.graphile.org/postgraphile/make-process-schema-plugin/#gatsby-focus-wrapper)
but after this [selectGraphQLResult

[2021-03-03 22:33] aoleksiiuk-karsun opened #351 "applyMiddleware + __resolveReference"
Good evening everybody! I have a federated schema the looks like this:
[code]
If I pass `rawSchema` to the ApolloServer initiation, I can hit this reference resolver from another service via gateway, and it works fine. But when I need to bundle this schema with permissions from `graphql-shield` wrapping them with `applyMiddleware` call, I can no longer access this reference resolver:
`const schema

[2021-03-24 21:34] shayzun commented on #351
I am having the same issue. @aoleksiiuk-karsun Have you found any workaround?

[2021-03-26 00:43] aoleksiiuk-karsun commented on #351
@shayzun yes, I've managed to make it work - you need to remove reference resolvers from the `buildFederatedSchema` call, and then add them with `addResolversToSchema` call. The working setup of the example above looks as follows:

[code]

With this shield'ed queries, mutations and types are still protected, and you have your reference resolvers as part of the schema. Hope this helps. Cheers!

[2021-03-26 00:43] #351 closed

[2021-03-29 18:58] codinghusi opened #364 "Middleware an external GraphQL API"
Hey guys,
I just discovered this repository 😀
My idea is to extend a Dgraph API with additional directives and logic (like input validation), that I won't implement directly into a fork of Dgraph.
As far as what I could see is that this repository is unfortunately only capable of applying middlewares on a local Apollo Server.

Is it somehow possible to implement external data sources without much

[2021-04-01 16:09] jpbidal opened #366 "Use graphql-middleware in subscriptions like queries and mutations"
Hello, I want to use graphql-middleware in subscriptions to validate if users are authenticated.
In queries and mutations it works, but not in subscriptions. Here is my definition of middleware:

[code]

Thanks!

[2021-04-09 18:22] ariroseonline opened #369 "Resolver incompatibility with Postgraphile top-level Connections"
Hi!

I am trying to use the awesome graphql-shield library with Postgraphile. In order to do so, I must use `graphql-middleware`. After thoroughly narrowing in on the problem, I've arrived at the following base case:

Let's say we have an `item` table in Postgres. Postgraphile generates a `schema` automatically, with `AllItems` and `itemById` fields. We send the schema through

[code]
 which is th

[2021-05-04 08:10] heeju commented on #336
see https://github.com/maticzav/graphql-middleware/issues/54

[2021-05-07 06:02] galvakojis commented on #369
Hello, having a same problem, but not sure if this a middleware issue or postgraphile

[2021-05-12 18:06] MentalGear opened #386 "docs: Clarification Middleware vs Plugins"
Would it be possible to add to the FAQ how this middleware differs from Apollo Server new plugin system?
There seems to be much overlap, hence it would be helpful for visitors to quickly get an idea where the differences lie.

[2021-05-23 05:53] #336 closed

[2021-05-23 05:54] maticzav commented on #369
Hi all! 👋

It would be great if you could compose a small reproduction CodeSandbox or something similar? I think this could be an inherent issue with how `graphql-middleware` was initially written, but I have an idea about how we could solve it. Having a reproduction could really speed up the process.

[2021-05-23 06:17] maticzav commented on #224
Hi @hassenc @theluk 👋 ,

Thank you for being so patient with this issue. I have the capacity to help you with the problem; I only need the reproduction CodeSandbox or something similar. This way, I can help you more quickly.

[2021-05-23 06:22] maticzav commented on #240
Hi @cappslock 👋 ,

Did you, by chance, find a way to work this issue out? We used to support wrapping introspection queries in the early versions, but then a new GraphQL version came out, which made it impossible to run promises in introspection query resolvers. That's why we decided to strip out that part to keep the code simpler.

Do you think that you could still solve your problem without prom

[2021-05-23 06:23] maticzav commented on #250
I am closing the issue as it seems inactive. Let me know if you still experience the problem and reopen the issue.

[2021-05-23 06:23] #250 closed

[2021-05-23 06:27] maticzav commented on #386
@MentalGear, thank you for pointing this out. I agree that there's a large overlap, but I am not _that_ familiar with Apollo Server.  We hoped that they would, at some point, make this a part of Apollo Server, but they didn't want to. From what I can tell from the discussions, Apollo Server isn't as granular when it comes to resolvers but has much more extensive coverage of the query execution pro

[2021-05-23 06:28] maticzav commented on #366
That's interesting!

I know there's a part of the code that should take care of the subscriptions wrapping. Could you compose a short reproduction so I can investigate this?

[2021-05-23 06:29] maticzav commented on #243
@brunolm I am not sure I understand how `graphql-middleware` fits in here. Is it possible that the `yup` validation function returns something other than an error?

[2021-05-23 06:31] maticzav commented on #277
@syffs, I agree! I'll try to find some time to implement this. It worked great so far with `graphql-shield`. If you find some time, I'd love to merge a PR!

[2021-05-23 06:32] maticzav commented on #364
Hi @codinghusi 👋 ,

Sorry for the late reply. I think this should be possible. Maybe you can find some pointers in [this plugin](https://github.com/maticzav/graphql-middleware-forward-binding). It might be a bit outdated, but it used to do just that with Prisma.

Let me know what you think about it!

[2021-05-23 06:34] maticzav commented on #334
@Sytten, I am closing this issue as I am not sure whether it's still relevant. At the top of my head, maybe Envelop could be a solution for this. In any case, feel free to reopen if this still seems relevant

http://github.com/dotansimha/envelop

[2021-05-23 06:34] #334 closed

[2021-05-23 06:35] maticzav commented on #259
@yaacovCR could you post some links pointing to the docs?

[2021-05-23 06:36] maticzav commented on #257
Hi @jrnail23 👋 ,

Could you explain in a bit more detail what a type-resolver would do? Maybe you could do some mocking by checking the `name` of the field? You can get that information from the `info` argument in the middleware.

[2021-05-23 06:39] maticzav commented on #248
Hmm, have you tried digging into the `info` argument? I know there's a lot of information there.

If you want to check the type of an object you are going to return and is already computed, how about you add a simple check that accesses the `obj.__typename` field and decides what to do? You might need to be a bit more cautious when it comes to your queries, as you might need to include that in eve

[2021-05-23 06:41] maticzav commented on #337
@galvakojis, could you create a small reproduction? I've heard about this issue a couple of times. Having a reproduction could really speed up the investigation.

[2021-05-23 16:07] Sytten commented on #334
Yeah envelop is the way to go!

[2021-05-24 15:21] cappslock commented on #240
Hi @maticzav, this was for an older project, but IIRC I ended up abandoning this approach. Sorry I don't recall more.

Won't hurt my feelings none if you decide to close this, I think I just wanted to report it so it was known :)

[2021-05-25 08:33] maticzav commented on #240
@cappslock, no worries! I am glad you've found a solution.

[2021-05-25 08:33] #240 closed

[2021-05-26 09:17] jekabs-karklins opened #395 "applyMiddleware corrupts schema with Apollo federation `stub types`"
We are using Apollo federation https://www.apollographql.com/docs/federation/federation-spec/ where gateway combines two graphql schemas into one unified schema.

We have vanilla ordinary setup for it

We have type user in service A
[code]

And we have type stub type User in service B
[code]

And we have type Equipment in service B that refers to the user
[code]

By applying this trivial middlewar

[2021-05-28 20:22] galvakojis commented on #224
This was first CodeSandbox , spend almost two hours, looks like that I was able to recreate issue.
.https://codesandbox.io/s/nice-hypatia-y0dro?file=/app.js
https://y0dro.sse.codesandbox.io/graphiql
when I don't use shield all players are returned
when I use,  I get an issue

[2021-05-28 21:26] galvakojis commented on #369
Here you go (this was my first CodeSandbox spend almost two hours):
https://codesandbox.io/s/nice-hypatia-y0dro?file=/app.js

https://y0dro.sse.codesandbox.io/graphiql

query allPlayers
using shield return nothing

without using works normal

[2021-06-06 19:06] galvakojis commented on #224
@maticzav

Maybe this helps?

[2021-06-06 19:08] galvakojis commented on #369
This was first CodeSandbox , spend almost two hours, looks like that I was able to recreate issue.
.https://codesandbox.io/s/nice-hypatia-y0dro?file=/app.js
https://y0dro.sse.codesandbox.io/graphiql
when I don't use shield all players are returned
when I use, I get an issue

[2021-06-09 15:07] schester44 commented on #277
+1 on this

[2021-06-24 08:18] durgesh-mfs commented on #395
@jekabs-karklins have you found solution?

I have similar schema design to yours and getting similar error. I was using v4.0.2 everything was working expected but recently I have update to latest version(v6.0.10) and then started getting this issue. I have also tested v4.0.3 seems like working everything as expected but not working in 5.0.0 and above

[2021-07-09 17:39] amitgud-doordash opened #417 "High memory and CPU usage with a noop graphql-middleware"
We are experiencing very high memory usage when we add even a noop middleware to our express Apollo GraphQL application. Do we have an idea of what memory / CPU overhead we should expect with the graphql-middleware? Using the latest version (6.0.10).

![Screen Shot 2021-07-09 at 10 38 10 AM](https://user-images.githubusercontent.com/69865836/125116577-c6869f80-e0a1-11eb-823f-85d56b511b49.png)

[2021-07-09 18:06] amitgud-doordash commented on #417
Just add some more color to this issue. The schema in the application is big, however the middleware itself is not going anything interesting.

[code]

[2021-07-28 20:05] vanesyan opened #422 "Add ability to mutate schema in-place"
Currently `graphql-middleware` uses `@graphql-tools/schema` package to actually apply schema modifications to the initially provided one (via `addResolversToSchema` function). Here https://github.com/maticzav/graphql-middleware/blob/8dc4590a421feff4a1455b1cf672cb10798c66c8/src/middleware.ts#L45
it hard-codes `addResolversToSchema` to always produce a new schema. I'd like make it configurable, so I

[2021-08-18 12:03] Manubi opened #433 "Type generator exists in middleware but is missing in Schema."
Hi,

since the graphql-middleware update to 6.1.2 I get the following error:
`MiddlewareError: Type generator exists in middleware but is missing in Schema.`
I do use graphql-shield v 7.5.0

<img width="886" alt="CleanShot 2021-08-18 at 14 02 27@2x" src="https://user-images.githubusercontent.com/20935138/129894757-fce58b99-3ca7-4737-96d0-a655a888087e.png">

[2021-08-18 14:33] Manubi commented on #433
Update: I think the error wars next.js `experimental: { esmExternals: true },`
At least for now it seems to work. For the latest version as well.

[2021-08-24 17:14] todda00 commented on #433
I'm running into the same error with anything above `6.0.10` Not using next.js, using webpack / babel (latest versions of both)

[2021-08-25 04:49] renovate[bot] opened #437 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Repository problems

These problems occurred while renovating this repository.

 - WARN: Found renovate config warnings

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update actions/setup-node action to v2](../pull/420)
 - [ ] [chore(deps): upd

[2021-08-28 02:04] PabloSzx commented on #433
I just tested a Next.js project using `esmExternals: true` and graphql-middleware and everything works fine, and I executed all the tests on ESM and nothing fails

We need a reproduction repo / instructions to be able to debug it, I really tried to find this issue by myself, I just tested a lot of things and nothing fails

[2021-08-31 07:31] Manubi commented on #433
Yeah sorry. I didn't dig deeper as I have things that I need to finish. If it shows up again I'll have a look as well.
Thanks for your work! 🤗

[2021-09-10 14:20] caioaletrocadock commented on #395
Well, I tested and yes, the last working version is v4.0.3. I would like to know if there will be a solution, because working with a 2 years outdated version isn't ideal.

Also huge thanks, this lib is awesome.

[2021-09-13 20:35] bombillazo commented on #277
Any update on this feature? It's a time saver using Shield, would be great to have for custom middleware.

[2021-09-16 20:40] NoisyFlowers commented on #433
I'm encountering this same problem.

I'm new to this biome, so not sure what is important info to relay, but I'm using graphql-middleware 6.1.6, graphql-shield 7.5.0, apollo-server-express 2.25.2, and neo4j-graphql-js 2.19.4.

![Screenshot 2021-09-16 133103](https://user-images.githubusercontent.com/12547812/133681834-3a8f6b31-6194-459d-80b0-f09ee1439102.jpg)

Relevant code bits (maybe). Note that

[2021-09-16 22:03] NoisyFlowers commented on #433
I've been trying different versions of graphql-middleware and am seeing the same as @todda00: the problem starts with 6.1.0.

[2021-09-17 00:54] PabloSzx commented on #433
as already mentioned, @NoisyFlowers can you create a minimal reproduction repo? I already tried a lot of stuff trying to reproduce it and I couldn't

[2021-09-24 12:27] Khauri commented on #369
I'm also having this issue. Has a workaround or any other insight been found?

[2021-09-29 11:40] Khauri commented on #369
It seems that the problem may be in part coming from `@graphql-utils/schema`'s `addResolversToSchema` function as used by graphql-middleware here: https://github.com/maticzav/graphql-middleware/blob/master/src/middleware.ts#L42

I created a simple plugin to test this:

[code]

And it results in the same error.

[2021-10-03 16:05] hos200sa commented on #395
hi guys have anyone found a solution?
it is been bugging me with graphql-sheild, resolveRefrence never get called in User service if applyMiddleware is used,
but if  removed everything working again.

[2021-11-10 23:23] paulmikulskis commented on #433
I have this issue and the fix presented above.
`OS: macOS 11.4`
`Node: 14.18.1`
`npm: 6.14.15`
`graphql-middleware: "^6.1.12"`
`graphql-shield: "^7.5.0"`

changing the middleware loader to `graphql-middleware: "6.0.9"` fixed things

[2021-11-12 13:14] harsh3977 commented on #433
Facing same problem . Solved by downgrading middleware version 6.0.6.

[2021-11-19 05:57] dborstelmann commented on #351
Has anyone gotten this working recently?  `buildSubgraphSchema` doesn't take an orphanedTypes param.  Anyone have a solution for the latest libs?  I'm on federation 0.33 and apollo-server 3.5

[2021-11-20 03:38] calboru commented on #433
Facing same problem . Solved by downgrading middleware version 6.0.6.
Are there any fix yet?

[2021-12-07 07:32] jcpage commented on #366
Hey - I commented in a related issue in the graphql-shield project:

https://github.com/maticzav/graphql-shield/issues/27#issuecomment-986198813

It has a lot of detail but the summary is the middleware code that is supposed to wrap the 'subscribe' field ends up finding the subscription's 'resolve' field first and wrapping it instead.  Swapping the order of the checks would let it wrap subscriptio

[2021-12-14 03:52] brandoniumNutrien commented on #433
facing this problem tried downgrading, recently upgraded to nextjs 12

[2021-12-20 15:17] martin-trajanovski commented on #395
I tried to `applyMiddleware` before adding the reference resolvers to the schema and I think that worked without any issues. So it could be a potential/workaround solution to our specific problem. So here is some example code:

     let federatedSchema = buildSubgraphSchema({
        typeDefs: gql(printSubgraphSchema(schema)),
        resolvers: createResolversMap(
          schema
        ) as Gr

[2022-01-06 13:12] jekabs-karklins commented on #395
You can try out what @martin-trajanovski is suggesting

[2022-01-12 15:13] jgwiazdowski commented on #433
still same problem,
6.0.9 solves the problem

[2022-01-18 09:51] romainPrignon opened #500 "Graphql 16 update"
I couldn't wait anymore, so I fork the project: https://github.com/GeorgesTech/graphql-middleware
Changes: https://github.com/GeorgesTech/graphql-middleware/pull/1
And I used it like this:
[code]

I do not plan to maintain the fork
I hope the issue will resolve soon

In the meantime, renovate/dependabot is happy

[2022-02-08 21:51] plfx commented on #395
I found a solution. You need to check whether the resolver is one of the type fields for the Apollo Federation spec, and simply make your middleware a no-op when it matches.

(TypeScript)
[code]

Could this logic get rolled into graphql-middleware, or some utility or option be added to make this easier?

[2022-02-16 19:00] Jl14Salvador commented on #433
Reverting to version 6.0.9 and pinned it. Fixed my problem. Would love to see this fixed so I can update the latest version.

[2022-02-20 18:53] nuronbeck commented on #433
To downgrade graphql-middleware package to 6.0.9, do command
With npm: `npm uninstall graphql-middleware` and `npm install graphql-middleware@6.0.9`
With yarn: `yarn remove graphql-middleware` and `yarn add graphql-middleware@6.0.9`

[2022-03-02 11:38] jamescryer commented on #433
I downgraded to `6.0.10`, but because my project directly depends on `@graphql-tools/schema`  I also had to downgrade that lib to `^7.1.5` to match the dependency version in `graphql-middleware@6.0.10`. Hope this helps.

[2022-03-10 05:09] jpbidal commented on #366
Hi! I apologize for the delay of answering your request. I'm using an workaround into each subscription resolve, like @jcpage says.

The **isLoggedIn** method could be simulated as a console log, but the real action is validate the user data from context.

When I run queries and mutations all works ok, but isLoggedIn method is ignored when I run subscriptions.

I attach an example of subscription

[2022-03-10 16:37] Jl14Salvador commented on #351
Having same issue @dborstelmann. Did you ever find a fix for this using the newer version of apollo-server and federation?

[2022-04-07 05:27] jebenois commented on #500
Any updates on that one?

[2022-05-02 06:35] hyusetiawan commented on #433
it seems downgrading is the only way to fix this issue right now. Can this be fixed on graphql-middleware side or is it because of interactions with libraries?

[2022-05-19 13:32] icazemier commented on #500
+1

[2022-05-20 16:17] alaarihan-temco commented on #500
+1

[2022-05-30 10:11] romainPrignon commented on #500
I moved to https://www.graphql-yoga.com/ V2 from https://www.the-guild.dev/
I just had to replace some middlewares with https://www.envelop.dev/ plugins also from the-guild

If you happened to use the fork: https://github.com/GeorgesTech/graphql-middleware
I'll keep the fork public for 1 month
I'll delete it at the beginning of Jully

Happy migration :)

[2022-06-02 02:59] pschmidtudig commented on #369
I found a workaround for this (somewhat by accident). If you add a step to first wrap the schema using @graphql-tools/wrap, you can apply the middleware as usual and graphql-shield works as expected.

I've tested this with postgraphile running on both Apollo Server (schema only) and Express (as library)

Example plugin:
const { makeProcessSchemaPlugin } = require("graphile-utils");
const permissio

[2022-06-29 16:12] XTVB commented on #433
`isMiddlewareGenerator` is incorrectly returning false for graphql-shield permissions, which causes this error to occur in the validation.

If you replace `applyMiddleware(schema, permissions)` with `applyMiddleware(schema, permissions.generate(schema))` then it will work correctly with the latest version of graphql-middleware, without needing to downgrade.

[2022-06-29 18:53] Janushan commented on #433
This worked for me!
Thanks!

[2022-07-06 16:41] eroist commented on #500
dose graphql-middleware support graphql@v16?

[2022-07-06 23:07] curbol commented on #500
Is that alternative to graphql-middleware? this is a bit silly how longs it's taking to update to graphql 16

[2022-07-07 21:30] simon-abbott commented on #500
@curbol We just successfully replaced `graphql-middleware` with `@graphql-tools/resolvers-composition`.

[2022-07-08 18:32] farawaysouthwest commented on #500
I cut a PR for this, we'll see what happens.

[2022-08-21 14:22] milad2golnia opened #551 "bind middleware to return types"
# Problem
Is it possible to assign my middleware to a specific return type? Let's elaborate it using an example.

# Example
I'm defining my schema in SDL (Schema Definition Language):
[code]
I want to execute my middleware when a `service` is returned, How can I do it?

# Current Solution
The current way I do this is to apply middleware one by one to every query which is returning `service` as res

[2022-09-30 15:49] ianchanning opened #555 "Missing graphql-middleware-sentry middleware"
In the [awesome middlewares](https://github.com/maticzav/graphql-middleware#awesome-middlewares-) you link to your own https://github.com/maticzav/graphql-middleware-sentry

However that repo no longer exists. If it did exist it would be useful to at least leave it up and archive it.

If you search npm you come to: https://www.npmjs.com/package/graphql-middleware-sentry, this links to https://gith

[2022-10-07 16:51] dimatill commented on #500
https://github.com/dimatill/graphql-middleware/pull/556 now graphql-middleware supports graphql v16 🎉

[2022-10-07 16:51] #500 closed

[2022-11-10 19:06] Golomidov-Danil opened #558 "Could not find a declaration file for module 'graphql-middleware'."
![Code_LTAUS8TFff](https://user-images.githubusercontent.com/42399845/201180081-cae6e2bf-6c1c-437c-b638-84570a7ee639.png)
I use import instead of require(), maybe that's the problem?